/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.thumbnail{
  background: ghostwhite;
}

.plan{
  color: blue;
  text-align: center;
}

.payment_info{
  color: blue;
  text-align: center;
}

h1{
  text-align: center;
}

.field>#link_original, .field_with_errors{
  display: inline-block;
  width: 600px;
  margin-left: 10px;
}

.field_with_errors #link_original{
  display: inline;
}

#count{
  width: 148px;
  margin-left: 19px;
}

#paypal_button{
  margin-left: 78px;
}

#plan_name{
  margin-left: 63px;
}

#plan_list{
  margin-top: 63px;
}

#subscription_email{
  width: 260px;
}

#new_shorten_url{
  margin-left: 92px;
}
